:root {
  --text-color: #667085;
  --main-color: #8e2424;
  --heading-color: #101828;
  --footer-color: #98A2B3;
  --formulario-background: #F9FAFB;
}

body {
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-button-base {
  display: flex;
  text-align: center;
  gap: 0.5rem;
}

.navbar-button-base-logo {
  width: 27px;
  height: 26.99px;
}

.navbar-button-base-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-content ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.navbar-content-link {
  text-decoration: none;
  margin-right: 2rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--text-color);
}

.navbar-navigation-actions {
  display: flex;
  gap: 12px;
}

.navbar-navigation-actions-button-start {
  padding: 0.63rem 1.13rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: none;
  color: var(--text-color);
}

.navbar-navigation-actions-button-register {
  padding: 0.63rem 1.13rem;
  cursor: pointer;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  background: var(--main-color);
  box-shadow: 0px 1px 2px 0px #1018280D;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #FFFFFF;
}

.cabecalho {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.50rem;
  height: 25.44rem;
  padding: 6rem 0;
}

.cabecalho-subheading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--main-color);
}

.cabecalho-heading {
  padding: 0px 2rem;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--heading-color);
}

.cabecalho-supporting-text {
  padding: 1rem 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.metricas {
  padding: 0 6rem;
}

.metricas-content {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.metricas-content-article {
  width: calc((100% / 4) - 2rem);
}

.metricas-content-article span {
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: var(--main-color);
}

.metricas-content-article-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: var(--text-color);
}

.metricas-content-article-supporting {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--text-color);
}

@media screen and (max-width: 840px) {

  .metricas {
    margin-top: 6rem;
  }

  .metricas-content {
    flex-direction: column;
    align-items: center;
  }

  .metricas-content-article {
    width: 50%;
  }

}

.vagas {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem 0;
}

.vagas-talentos {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.vagas-talentos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.vagas-talentos-container-badge {
  width: 7.81rem;
  height: 1.75rem;
  padding: 0.25rem 0.75rem;
  background-color: rgb(142, 36, 36, 5%);
  color: var(--main-color);
  border-radius: 1rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.vagas-talentos-container-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--heading-color);
}

.vagas-talentos-container-supporting-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
}

.vagas-talentos-image {
  padding: 0 2rem;
}

.vagas-abertas {
  padding: 0 2rem;
}

.vagas-abertas-container {
  padding: 2rem 4rem;
}

.vagas-abertas-container-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.vagas-abertas-container-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.vagas-abertas-container-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.vagas-abertas-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  gap: 2rem;
}

.vagas-abertas-item-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: var(--text-color);
}

.vagas-abertas-item-details {
  display: flex;
  flex-direction: row;
}

.vagas-abertas-subitem {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
  gap: 1.5rem;
  padding: 1.50rem 0;
}

.depoimentos {
  padding: 6rem 0;
}

.depoimentos-container {
  padding: 0 2rem;
}

.depoimentos-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  background-color: rgb(142, 36, 36, 3%);
  color: var(--main-color);
}

.depoimentos-container-content-subheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.depoimentos-container-content-subheading-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.depoimentos-container-content-subheading-quote {
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--heading-color);
}

.depoimentos-container-content-attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.depoimentos-container-content-attribution-avatar {
  width: 3.50rem;
  height: 3.50rem;
}

.depoimentos-container-content-attribution-supporting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
  color: var(--text-color);

  .user {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .job {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 6rem 0;
  background-color: var(--formulario-background);
}

.formulario-container {
  padding: 0 2rem;
}

.formulario-container-content {
  padding: 0 4rem;
}

.formulario-container-content-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
  color: var(--text-color);

  .heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
  }

  .supporting {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

.formulario-container-content-email {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  width: Hug (492px)px;
  height: Hug (48px)px;
  gap: 16px;
}

.formulario-email-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding: 0.75rem 0.88rem 0.75rem 1rem;
  border: 1px solid #D0D5DD;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px 0px #1018280D;
  width: 360px;
  height: Hug(48px);
  background: none;
}

.formulario-email-button {
  width: 7.25rem;
  height: 3rem;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  border: 1px 0px 0px 0px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 2px 0px #1018280D;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.formulario-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--footer-color);
}